<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="log-appender" class="org.apache.log4j.FileAppender">
		<param name="File" value="utils4j.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] [%5p] %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="stdout-appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] [%5p] %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

    <logger name="xcom.utils4j" additivity="false">
        <level value="trace" />
    </logger>

    <logger name="Console" additivity="false">
        <level value="info" />
        <appender-ref ref="console-appender" />
    </logger>

	<root>
		<level value="info" />
		<appender-ref ref="stdout-appender" />
	</root>
</log4j:configuration>